section#gift_card_banner {
  background-color: #1E97AE;
}
section#gift_card_banner .box .giftcard__banner {
  text-align: center;
}
section#gift_card_banner .box .giftcard__banner p {
  padding: 10px;
  color: #fff;
  font-size: 14px;
  word-spacing: 5px;
  letter-spacing: 2px;
}

section#nav_bar .box .nav__bar {
  display: inline-block;
  width: 100%;
}
section#nav_bar .box .nav__bar .nav__logo {
  width: 25%;
  float: left;
}
section#nav_bar .box .nav__bar .nav__logo picture img {
  width: 100%;
  max-width: 75px;
}
section#nav_bar .box .nav__bar .nav__menu__mobile {
  display: block;
  text-align: right;
  padding: 20px;
}
section#nav_bar .box .nav__bar .nav__menu__mobile .nav__menu__button picture img {
  width: 20%;
  max-width: 60px;
}
section#nav_bar .box .nav__bar .hidden {
  display: none;
}
section#nav_bar .box .nav__bar .nav__menu__side ul {
  list-style-type: none;
  width: 100%;
  background: #1E97AE;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 1;
}
section#nav_bar .box .nav__bar .nav__menu__side ul li {
  padding: 15px;
}
section#nav_bar .box .nav__bar .nav__menu__side ul li a {
  text-decoration: none;
  color: #fff;
}
section#nav_bar .box .nav__bar .nav__menu__side ul li .close {
  text-align: right;
  font-size: 24px;
  color: white;
  cursor: grab;
}
section#nav_bar .box .nav__bar .nav__menu__side ul li:hover {
  background-color: #B8DFE2;
  border-radius: 10px;
}
section#nav_bar .box .nav__bar .nav__menu {
  width: 75%;
  float: left;
}
section#nav_bar .box .nav__bar .nav__menu .nav__menu__desktop {
  display: none;
}
section#nav_bar .box .nav__bar .nav__menu .nav__menu__desktop ul {
  padding-top: 5px;
}
section#nav_bar .box .nav__bar .nav__menu .nav__menu__desktop ul .current_page {
  background-color: #B8DFE2;
  border-radius: 10px;
  border-bottom: 5px solid #1E97AE;
}
section#nav_bar .box .nav__bar .nav__menu .nav__menu__desktop ul .current_page > a {
  color: #fff;
}
section#nav_bar .box .nav__bar .nav__menu .nav__menu__desktop ul li {
  display: inline-block;
  padding: 10px;
}
section#nav_bar .box .nav__bar .nav__menu .nav__menu__desktop ul li a {
  text-decoration: none;
  color: #1E97AE;
}
section#nav_bar .box .nav__bar .nav__menu .nav__menu__desktop ul li:hover {
  border-bottom: 5px solid #1E97AE;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
section#nav_bar .box .nav__bar .nav__menu .nav__menu__desktop ul .menu_cta {
  background-color: #B8DFE2;
  padding: 10px 30px;
  letter-spacing: 2px;
  margin-left: 20px;
  border-radius: 10px;
}

section#hero {
  background-image: url("bkg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#hero .video-bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  display: none;
}
section#hero .box {
  padding: 30px;
}
section#hero .box .hero__section .hero__subtext {
  width: 100%;
  padding: 20px;
}
section#hero .box .hero__section .hero__subtext h3 {
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}
section#hero .box .hero__section .hero__subtext h2 {
  color: #fff;
  text-align: center;
  font-size: 26px;
  padding-bottom: 10px;
}
section#hero .box .hero__section .hero__subtext p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
}
section#hero .box .hero__cta {
  width: 80%;
  margin: 0 auto;
  background-color: #B8DFE2;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px;
}
section#hero .box .hero__cta form {
  position: relative;
}
section#hero .box .hero__cta form input {
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 1px solid #B8DFE2;
}
section#hero .box .hero__cta form input::-webkit-input-placeholder {
  letter-spacing: 2px;
  color: #1E97AE;
}
section#hero .box .hero__cta form button {
  margin: 10px 0px;
  width: 100%;
  padding: 10px;
  background-color: #1E97AE;
  border: 1px solid #1E97AE;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 10px;
  outline: none;
}

section#what_we_do .box {
  padding: 30px;
}
section#what_we_do .box .what_we_do__section .what_we_do__headline {
  padding: 20px;
}
section#what_we_do .box .what_we_do__section .what_we_do__headline h1 {
  color: #1E97AE;
  font-size: 36px;
}
section#what_we_do .box .what_we_do__section .what_we_do__picture {
  padding: 20px;
}
section#what_we_do .box .what_we_do__section .what_we_do__picture span {
  border-bottom: 2px solid #1E97AE;
  width: 60%;
  display: block;
  margin: 0 auto;
}
section#what_we_do .box .what_we_do__section .what_we_do__picture picture img {
  padding: 10px;
}
section#what_we_do .box .what_we_do__section .what_we_do__subtext {
  padding: 20px;
}
section#what_we_do .box .what_we_do__section .what_we_do__subtext p {
  color: #1E97AE;
  line-height: 45px;
  margin: 0 auto;
}

section#process {
  background-color: #B8DFE2;
}
section#process .box {
  padding: 30px;
}
section#process .box .process__section .process__header {
  padding: 20px;
}
section#process .box .process__section .process__header h1 {
  color: #fff;
  font-size: 36px;
}
section#process .box .process__section .process__icons img {
  padding: 20px;
}

section#services {
  background-color: #1E97AE;
}
section#services .box {
  padding: 30px;
}
section#services .box .service__section .service__header {
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
}
section#services .box .service__section .service__header h1 {
  font-size: 36px;
  color: #fff;
  padding: 10px;
  padding-bottom: 15px;
}
section#services .box .service__section .service__header p {
  color: #fff;
  line-height: 45px;
}
section#services .box .service__section .service__tiles {
  width: 100%;
}
section#services .box .service__section .service__tiles img {
  width: 30%;
  padding: 10px;
}
section#services .box .service__section .services-cta {
  padding: 30px;
}
section#services .box .service__section .services-cta button {
  margin: 10px 0px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #1E97AE;
  letter-spacing: 2px;
  border-radius: 10px;
  outline: none;
}

section#footer {
  background-color: #1E97AE;
}
section#footer .box {
  position: relative;
  padding: 30px;
}
section#footer .box .footer__section {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 20px;
}
section#footer .box .footer__section .footer__menu {
  width: 100%;
}
section#footer .box .footer__section .footer__menu ul {
  list-style-type: none;
}
section#footer .box .footer__section .footer__menu ul li a {
  text-decoration: none;
  color: #fff;
}
section#footer .box .footer__section .footer__email__capture {
  width: 100%;
  padding: 10px;
  position: relative;
}
section#footer .box .footer__section .footer__email__capture p {
  color: #fff;
  padding: 10px;
}
section#footer .box .footer__section .footer__email__capture input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #B8DFE2;
  outline: none;
  text-indent: 30px;
}
section#footer .box .footer__section .footer__email__capture button {
  position: absolute;
  background-color: #B8DFE2;
  padding: 10px;
  bottom: 10px;
  right: 0;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #1E97AE;
  border: 1px solid #B8DFE2;
}
section#footer .box .footer__section .footer__email__capture input::-webkit-input-placeholder {
  letter-spacing: 2px;
  color: #1E97AE;
}
section#footer .box .footer__section .footer__logo {
  width: 100%;
  padding: 10px;
}
section#footer .box .footer__section .footer__logo picture img {
  width: 30%;
}
section#footer .box .footer__socials {
  width: 100%;
  padding: 10px;
}
section#footer .box .footer__socials ul {
  width: 100%;
}
section#footer .box .footer__socials ul li {
  display: inline;
}
section#footer .box .footer__terms {
  padding: 5px;
}
section#footer .box .footer__terms p {
  color: #fff;
}
section#footer .box .footer__copyright {
  padding: 5px;
}
section#footer .box .footer__copyright p {
  color: #fff;
}

section#picture_break {
  background-image: url("picture_page_break_1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
section#picture_break .box {
  padding: 30px;
}
section#picture_break_2 {
  background-image: url("picture_page_break_1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
section#picture_break_2 .box {
  padding: 30px;
}
section#why_us .box {
  padding: 30px;
}
section#why_us .box .why_us_section .why_us__headline {
  padding: 20px;
}
section#why_us .box .why_us_section .why_us__headline h1 {
  color: #1E97AE;
  font-size: 36px;
}
section#why_us .box .why_us_section .col_section {
  width: 100%;
  display: block;
}
section#why_us .box .why_us_section .col_section .col__ {
  width: 100%;
}
section#why_us .box .why_us_section .col_section .col__ .col_icon {
  width: 100%;
  padding: 10px;
}
section#why_us .box .why_us_section .col_section .col__ .col_header {
  width: 100%;
  padding: 10px;
}
section#why_us .box .why_us_section .col_section .col__ .col_header h3 {
  color: #1E97AE;
}
section#why_us .box .why_us_section .col_section .col__ .col_text {
  width: 100%;
  padding: 10px;
}
section#why_us .box .why_us_section .col_section .col__ .col_text p {
  color: #1E97AE;
}
section#why_us .box .why_us_section .why_us_cta {
  padding: 30px;
}
section#why_us .box .why_us_section .why_us_cta button {
  margin: 10px 0px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #1E97AE;
  border: 1px solid #1E97AE;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 10px;
  outline: none;
}

section#testimonials {
  background-image: url(/picture_page_break_2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
section#testimonials .box {
  padding: 30px;
  padding-bottom: 60px;
}
section#testimonials .box .testimonial__section {
  width: 100%;
}
section#testimonials .box .testimonial__section .testimonial__header {
  padding: 20px;
}
section#testimonials .box .testimonial__section .testimonial__header h1 {
  color: #fff;
  font-size: 36px;
}
section#testimonials .box .testimonial__section .testimonial__reviews {
  width: 100%;
  display: inline-block;
}
section#testimonials .box .testimonial__section .testimonial__reviews .col__ {
  width: 100%;
  margin: 14px 0px;
  border: 1px solid #fff;
  background-color: #fff;
}
section#testimonials .box .testimonial__section .testimonial__reviews .col__ .col_icon {
  width: 100%;
  padding: 10px;
}
section#testimonials .box .testimonial__section .testimonial__reviews .col__ .col_icon h2 {
  font-size: 14px;
  font-style: italic;
  color: #1E97AE;
}
section#testimonials .box .testimonial__section .testimonial__reviews .col__ .col_header {
  width: 100%;
  padding: 10px;
}
section#testimonials .box .testimonial__section .testimonial__reviews .col__ .col_header h3 {
  color: #1E97AE;
}
section#testimonials .box .testimonial__section .testimonial__reviews .col__ .col_text {
  width: 100%;
  padding: 10px;
}
section#testimonials .box .testimonial__section .testimonial__reviews .col__ .col_text p {
  color: #1E97AE;
}

section#home_contact_form {
  background-color: #fff;
}
section#home_contact_form .box {
  padding: 30px;
  padding-bottom: 60px;
}
section#home_contact_form .box .contact__form__section .contact__form__header h1 {
  padding: 10px;
  color: #1E97AE;
  font-size: 36px;
  padding-bottom: 30px;
}
section#home_contact_form .box .contact__form__section .contact__form__header p {
  padding: 10px;
  color: #1E97AE;
  padding-bottom: 30px;
}
section#home_contact_form .box .contact__form__section .contact__form form input {
  width: 80%;
  padding: 20px;
  outline: none;
  margin: 10px 0px;
  border-radius: 10px;
  border: 2px solid #1E97AE;
}
section#home_contact_form .box .contact__form__section .contact__form form input::-webkit-input-placeholder {
  letter-spacing: 2px;
  color: #1E97AE;
}
section#home_contact_form .box .contact__form__section .contact__form form textarea::-webkit-input-placeholder {
  letter-spacing: 2px;
  color: #1E97AE;
}
section#home_contact_form .box .contact__form__section .contact__form form textarea {
  width: 80%;
  padding: 20px;
  outline: none;
  margin: 10px 0px;
  resize: none;
  outline: none;
  border-radius: 10px;
  border: 2px solid #1E97AE;
}
section#home_contact_form .box .contact__form__section .contact__form form button {
  width: 80%;
  padding: 20px;
  outline: none;
  margin: 10px 0px;
  background-color: #1E97AE;
  color: #fff;
  letter-spacing: 2px;
  border: 2px solid #1E97AE;
  border-radius: 10px;
}

section#services__hero {
  background-image: url("/services-bkg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#services__hero .box .services__hero__section {
  width: 100%;
  display: block;
}
section#services__hero .box .services__hero__section .services__hero__header {
  padding: 120px;
}
section#services__hero .box .services__hero__section .services__hero__header h1 {
  font-size: 36px;
  color: #fff;
}

section#service__options_1 .box {
  padding: 60px;
  padding-top: 100px;
  max-width: 860px;
}
section#service__options_1 .box .service__options {
  width: 100%;
  display: inline-block;
  position: relative;
}
section#service__options_1 .box .service__options .options__info {
  width: 50%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  float: left;
  text-align: left;
}
section#service__options_1 .box .service__options .options__info h3 {
  padding: 10px;
  color: #1E97AE;
  font-size: 22px;
}
section#service__options_1 .box .service__options .options__info span {
  border-bottom: 2px solid #1E97AE;
  display: block;
  padding-bottom: 10px;
  width: 94%;
  margin: 0 auto;
}
section#service__options_1 .box .service__options .options__info p {
  padding: 10px;
  line-height: 40px;
  text-align: left;
  color: #1E97AE;
}
section#service__options_1 .box .service__options .options__img {
  width: 50%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  float: right;
}
section#service__options_2 {
  background-color: #1E97AE;
}
section#service__options_2 .box {
  padding: 60px;
  max-width: 860px;
}
section#service__options_2 .box .service__options {
  width: 100%;
  display: inline-block;
  position: relative;
}
section#service__options_2 .box .service__options .options__info {
  width: 50%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  float: right;
  text-align: right;
}
section#service__options_2 .box .service__options .options__info h3 {
  padding: 10px;
  color: #fff;
  font-size: 22px;
}
section#service__options_2 .box .service__options .options__info span {
  border-bottom: 2px solid #fff;
  display: block;
  padding-bottom: 10px;
  width: 94%;
  margin: 0 auto;
}
section#service__options_2 .box .service__options .options__info p {
  padding: 10px;
  line-height: 40px;
  text-align: right;
  color: #fff;
}
section#service__options_2 .box .service__options .options__img {
  width: 50%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  float: right;
}
section#contacts_hero {
  background-image: url("/contacts-bkg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#contacts_hero .box .contacts__hero__section {
  width: 100%;
  display: block;
}
section#contacts_hero .box .contacts__hero__section .contacts__hero__header {
  padding: 120px;
}
section#contacts_hero .box .contacts__hero__section .contacts__hero__header h1 {
  font-size: 36px;
  color: #fff;
}

section#contact_info {
  background-color: #B8DFE2;
}
section#contact_info .box {
  padding: 30px;
}
section#contact_info .box .contacts__img__container {
  width: 100%;
  display: inline-block;
  position: relative;
}
section#contact_info .box .contacts__img__container .contacts__email {
  padding: 10px;
  width: 50%;
  float: left;
}
section#contact_info .box .contacts__img__container .contacts__phone {
  padding: 10px;
  width: 50%;
  float: right;
}
section#contact_form {
  background-color: #1E97AE;
}
section#contact_form .box {
  padding: 30px;
}
section#contact_form .box .contact__form__section h1 {
  padding: 10px;
  color: #fff;
  font-size: 36px;
  padding-bottom: 30px;
}
section#contact_form .box .contact__form__section p {
  padding: 10px;
  color: #fff;
  padding-bottom: 30px;
}
section#contact_form .box .contact__form form input {
  width: 80%;
  padding: 20px;
  outline: none;
  margin: 10px 0px;
  border-radius: 10px;
  border: 1px solid #B8DFE2;
}
section#contact_form .box .contact__form form input::-webkit-input-placeholder {
  letter-spacing: 2px;
  color: #1E97AE;
}
section#contact_form .box .contact__form form textarea::-webkit-input-placeholder {
  letter-spacing: 2px;
  color: #1E97AE;
}
section#contact_form .box .contact__form form textarea {
  width: 80%;
  padding: 20px;
  outline: none;
  margin: 10px 0px;
  resize: none;
  outline: none;
  border-radius: 10px;
}
section#contact_form .box .contact__form form button {
  width: 80%;
  padding: 20px;
  outline: none;
  margin: 10px 0px;
  background-color: #B8DFE2;
  color: #1E97AE;
  border: 1px solid #1E97AE;
  border-radius: 10px;
  letter-spacing: 2px;
}

section#about__hero {
  background-image: url("/about-bkg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#about__hero .box .about__hero__section {
  width: 100%;
  display: block;
}
section#about__hero .box .about__hero__section .about__hero__header {
  padding: 120px;
}
section#about__hero .box .about__hero__section .about__hero__header h1 {
  font-size: 36px;
  color: #fff;
}
section#about_features {
  background-color: #B8DFE2;
}
section#about_features .box {
  padding: 30px;
}
section#about_features .box .about__features__section .about__text h1 {
  color: #1E97AE;
  font-size: 36px;
  padding: 50px;
}
section#about_features .box .about__features__section .about__text p {
  color: #1E97AE;
  font-size: 18px;
  line-height: 40px;
}

section#founder {
  background-color: #1E97AE;
}
section#founder .box {
  padding: 30px;
}
section#founder .box .founder__section {
  width: 100%;
  padding: 20px;
}
section#founder .box .founder__section .founder__img {
  width: 100%;
  padding: 20px;
}
section#founder .box .founder__section .founder__name {
  width: 100%;
  padding: 10px;
}
section#founder .box .founder__section .founder__name h1 {
  font-size: 36px;
  color: #fff;
}
section#founder .box .founder__section .founder__title {
  width: 100%;
  padding-bottom: 30px;
}
section#founder .box .founder__section .founder__title h2 {
  font-size: 28;
  color: #fff;
}
section#founder .box .founder__section .founder__text {
  width: 100%;
  padding: 20px;
}
section#founder .box .founder__section .founder__text p {
  font-size: 18px;
  line-height: 40px;
  color: #fff;
}

section#quote_contact_form {
  background-color: #1E97AE;
}
section#quote_contact_form .box {
  padding: 30px;
}
section#quote_contact_form .box .contact__form__section .contact__form__header h1 {
  padding: 10px;
  color: #fff;
  font-size: 36px;
  padding-bottom: 30px;
}
section#quote_contact_form .box .contact__form__section .contact__form__header p {
  padding: 10px;
  color: #fff;
  padding-bottom: 30px;
}
section#quote_contact_form .box .contact__form__section .contact__form form input {
  width: 80%;
  padding: 20px;
  outline: none;
  margin: 10px 0px;
  border-radius: 10px;
  border: 1px solid #B8DFE2;
}
section#quote_contact_form .box .contact__form__section .contact__form form input::-webkit-input-placeholder {
  letter-spacing: 2px;
  color: #1E97AE;
}
section#quote_contact_form .box .contact__form__section .contact__form form textarea::-webkit-input-placeholder {
  letter-spacing: 2px;
  color: #1E97AE;
}
section#quote_contact_form .box .contact__form__section .contact__form form textarea {
  width: 80%;
  padding: 20px;
  outline: none;
  margin: 10px 0px;
  resize: none;
  outline: none;
  border-radius: 10px;
}
section#quote_contact_form .box .contact__form__section .contact__form form button {
  width: 80%;
  padding: 20px;
  outline: none;
  margin: 10px 0px;
  background-color: #B8DFE2;
  color: #1E97AE;
  letter-spacing: 2px;
  border: 1px solid #1E97AE;
  border-radius: 10px;
}

section#quotes__hero {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  min-width: 100vh;
  background-color: rgba(30, 150, 174, 0.8);
  justify-content: center;
  align-items: center;
}
section#quotes__hero .video-bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
section#quotes__hero .box .services__hero__section {
  width: 100%;
  display: block;
}
section#quotes__hero .box .services__hero__section .services__hero__header {
  padding: 120px;
}
section#quotes__hero .box .services__hero__section .services__hero__header h1 {
  color: #fff;
  font-size: 36px;
}/*# sourceMappingURL=320.css.map */