@media screen and (min-width: 680px) {


    //Home

    section#gift_card_banner {


        .box {
            .giftcard__banner {


                p {}
            }
        }
    }

    section#nav_bar {
        .box {
            .nav__bar {


                .nav__logo {


                    picture {
                        img {}
                    }
                }

                .nav__menu__mobile {
                    display: none;

                    picture {
                        img {}
                    }
                }

                .nav__menu {



                    .nav__menu__desktop {
                        display: block;

                        ul {
                            padding-top: 15px;

                            .current_page {


                                >a {}
                            }

                            li {


                                a {}


                                &:hover {



                                    a {}
                                }
                            }

                            .menu_cta {}
                        }
                    }
                }

                .nav__menu__side {
                    display: none;

                    ul {
                        list-style-type: none;
                        width: 100%;
                        background: #1E97AE;
                        padding: 10px;
                        position: absolute;
                        top: 0;

                        li {
                            padding: 15px;

                            a {
                                text-decoration: none;
                                color: #fff;
                            }
                        }
                    }

                }
            }
        }
    }

    section#hero {
        width: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
        background-color: rgb(30, 150, 174, 0.8);
        justify-content: center;
        align-items: center;

        background-image: initial;
        background-repeat: initial;
        background-size: initial;


        .video-bg {
            display: initial
        }

        .box {


            .hero__section {

                .hero__subtext {

                    width: 60%;
                    float: left;


                    h3 {


                        text-align: left;
                        font-size: 20px;
                        padding-bottom: 20px;
                    }

                    h2 {

                        text-align: left;
                        font-size: 36px;
                        padding-bottom: 20px;
                    }

                    p {

                        text-align: left;
                        font-size: 18px;
                        padding-bottom: initial;
                    }
                }
            }

            .hero__cta {

                width: 37%;
                float: right;
                max-width: 300px;
                background-color: #B8DFE2;
                padding: 20px;
                position: relative;


                form {
                    position: relative;

                    input {
                        margin: 10px 0px;
                        padding: 10px;
                        width: 100%;
                        border-radius: 10px;
                        outline: none;
                        border: 1px solid #B8DFE2;
                        // box-shadow: 1px 1px 1px 1px #1a97ae;

                    }

                    input::-webkit-input-placeholder {
                        letter-spacing: 2px;
                        color: #1E97AE;
                    }

                    button {
                        margin: 10px 0px;
                        width: 100%;
                        padding: 10px;
                        background-color: #1E97AE;
                        border: 1px solid #1E97AE;
                        color: #fff;
                        letter-spacing: 2px;
                        border-radius: 10px;
                        outline: none;


                    }
                }
            }
        }
    }

    section#what_we_do {


        .box {
            padding: 30px;

            .what_we_do__section {

                .what_we_do__headline {
                    padding: 20px;

                    h1 {
                        color: #1E97AE;
                        font-size: 36px;
                    }
                }

                .what_we_do__picture {
                    padding: 20px;

                    span {
                        border-bottom: 2px solid #1E97AE;
                        width: 60%;
                        display: block;
                        margin: 0 auto;
                    }

                    picture {
                        img {

                            padding: 10px;
                        }
                    }
                }

                .what_we_do__subtext {
                    padding: 20px;

                    p {
                        color: #1E97AE;
                        line-height: 45px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    section#process {
        background-color: #B8DFE2;

        .box {
            padding: 30px;

            .process__section {
                .process__header {
                    padding: 20px;

                    h1 {
                        color: #fff;
                        font-size: 36px;
                    }
                }

                .process__icons {

                    img {
                        padding: 20px;
                    }
                }
            }
        }
    }

    section#services {
        background-color: #1E97AE;

        .box {
            padding: 30px;

            .service__section {
                .service__header {
                    width: 100%;
                    padding: 20px;
                    padding-bottom: 50px;

                    h1 {
                        font-size: 36px;
                        color: #fff;
                        padding: 10px;
                        padding-bottom: 15px;
                    }

                    p {
                        color: #fff;
                        line-height: 45px;

                    }
                }

                .service__tiles {
                    width: 100%;

                    img {
                        width: 30%;
                        padding: 10px;
                    }
                }

                .services-cta {
                    padding: 30px;

                    button {
                        margin: 10px 0px;
                        width: 100%;
                        max-width: 300px;
                        padding: 10px;
                        background-color: #fff;
                        border: 1px solid #fff;
                        color: #1E97AE;
                        letter-spacing: 2px;
                        border-radius: 10px;
                        outline: none;
                    }
                }

            }
        }
    }

    section#footer {


        .box {


            .footer__section {


                .footer__menu {

                    width: 15%;
                    float: left;
                    text-align: left;
                    padding: initial;

                    ul {
                        padding: 10px;

                        li {
                            a {}
                        }
                    }
                }

                .footer__email__capture {
                    width: 50%;
                    float: left;


                    p {
                        color: #fff;
                        padding: 10px;
                    }

                    input {}

                    button {}

                    input::-webkit-input-placeholder {}

                }

                .footer__logo {
                    width: 20%;
                    float: left;
                    padding: initial;

                    picture {
                        img {
                            margin-top: 15px;
                            width: 64%;
                            margin-left: 15px;
                        }
                    }
                }
            }

            .footer__socials {
                width: 100%;
                padding: 5px;

                ul {
                    width: 100%;

                    li {

                        display: inline;

                    }
                }
            }

            .footer__terms {
                padding: 5px;

                p {
                    color: #fff;
                }
            }

            .footer__copyright {
                padding: 5px;

                p {
                    color: #fff;
                }
            }
        }
    }

    section#picture_break {
        background-image: url("picture_page_break_1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;

        .box {
            padding: 30px;

            .picture_break_section {}
        }
    }

    section#picture_break_2 {
        background-image: url("picture_page_break_1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;

        .box {
            padding: 30px;

            .picture_break_section {}
        }
    }

    section#why_us {
        .box {


            .why_us_section {
                .why_us__headline {


                    h1 {

                        font-size: 36px;
                    }
                }


                .col_section {
                    width: 100%;
                    display: inline-block;

                    .col__ {

                        width: 25%;
                        float: left;

                        .col_icon {


                            img {
                                width: 80%;
                            }
                        }

                        .col_header {


                            h3 {
                                color: #1E97AE;
                            }
                        }

                        .col_text {


                            p {
                                color: #1E97AE;
                            }
                        }
                    }
                }


                .why_us_cta {
                    padding: 30px;

                    button {
                        margin: 10px 0px;
                        width: 100%;
                        max-width: 300px;
                        padding: 10px;
                        background-color: #1E97AE;
                        border: 1px solid #1E97AE;
                        color: #fff;
                        letter-spacing: 2px;
                        border-radius: 10px;
                        outline: none;
                    }
                }
            }
        }
    }

    section#testimonials {
        background-image: url(/picture_page_break_2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;

        .box {
            padding: 30px;
            padding-bottom: 60px;

            .testimonial__section {
                width: 100%;

                .testimonial__header {

                    padding: 20px;

                    h1 {
                        color: #fff;
                        font-size: 36px;
                    }
                }

                .testimonial__reviews {
                    width: 100%;
                    display: inline-block;

                    .col__ {

                        width: 30%;
                        margin: 0 9px;
                        float: left;


                        .col_icon {
                            width: 100%;
                            padding: 10px;

                            h2 {
                                font-size: 16px;
                                font-style: italic;
                                color: #1E97AE;
                                ;
                            }

                        }

                        .col_header {
                            width: 100%;
                            padding: 10px;

                            h3 {
                                color: #1E97AE;
                                ;
                            }

                        }

                        .col_text {
                            width: 100%;
                            padding: 10px;

                            p {
                                color: #1E97AE;
                                ;
                            }

                        }

                    }
                }
            }

        }
    }

    section#home_contact_form {
        background-color: #fff;

        .box {
            padding: 30px;
            padding-bottom: 60px;

            .contact__form__section {
                .contact__form__header {

                    h1 {
                        padding: 10px;
                        color: #1E97AE;
                        font-size: 36px;
                        padding-bottom: 30px;
                    }

                    p {
                        padding: 10px;
                        color: #1E97AE;
                        padding-bottom: 30px;
                    }
                }

                .contact__form {

                    form {
                        input {
                            width: 80%;
                            padding: 20px;
                            outline: none;
                            margin: 10px 0px;
                            border-radius: 10px;
                            border: 2px solid #1E97AE;
                        }

                        input::-webkit-input-placeholder {
                            letter-spacing: 2px;
                            color: #1E97AE;
                        }

                        textarea::-webkit-input-placeholder {
                            letter-spacing: 2px;
                            color: #1E97AE;
                        }

                        textarea {
                            width: 80%;
                            padding: 20px;
                            outline: none;
                            margin: 10px 0px;
                            resize: none;
                            outline: none;
                            border-radius: 10px;
                            border: 2px solid #1E97AE;
                        }

                        button {
                            width: 80%;
                            padding: 20px;
                            outline: none;
                            margin: 10px 0px;
                            background-color: #1E97AE;
                            color: #fff;
                            letter-spacing: 2px;
                            border: 2px solid #1E97AE;
                            border-radius: 10px;
                        }
                    }
                }
            }


        }


    }

    //Services Page

    section#services__hero {
        background-image: url('/services-bkg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;

        .box {
            .services__hero__section {
                width: 100%;
                display: block;

                .services__hero__header {
                    padding: 120px;

                    h1 {
                        font-size: 36px;
                        color: #fff;
                    }
                }
            }
        }
    }

    section#service__options_1 {


        .box {
            padding: 60px;
            padding-top: 100px;
            max-width: 860px;

            .service__options {
                width: 100%;
                display: inline-block;
                position: relative;


                .options__info {
                    width: 50%;
                    max-width: 400px;
                    height: 100%;
                    max-height: 400px;
                    float: left;
                    text-align: left;

                    h3 {
                        padding: 10px;
                        color: #1E97AE;
                        font-size: 22px;
                    }

                    span {
                        border-bottom: 2px solid #1E97AE;
                        display: block;
                        padding-bottom: 10px;
                        width: 94%;
                        margin: 0 auto;
                    }

                    p {
                        padding: 10px;
                        line-height: 40px;
                        text-align: left;
                        color: #1E97AE;
                    }
                }

                .options__img {
                    width: 50%;
                    max-width: 400px;
                    height: 100%;
                    max-height: 400px;
                    float: right;

                    picture {
                        img {}
                    }
                }
            }
        }
    }

    section#service__options_2 {
        background-color: #1E97AE;

        .box {
            padding: 60px;
            max-width: 860px;

            .service__options {
                width: 100%;
                display: inline-block;
                position: relative;

                .options__info {
                    width: 50%;
                    max-width: 400px;
                    height: 100%;
                    max-height: 400px;
                    float: right;
                    text-align: right;

                    h3 {
                        padding: 10px;
                        color: #fff;
                        font-size: 22px;
                    }

                    span {
                        border-bottom: 2px solid#fff;
                        display: block;
                        padding-bottom: 10px;
                        width: 94%;
                        margin: 0 auto;
                    }

                    p {
                        padding: 10px;
                        line-height: 40px;
                        text-align: right;
                        color: #fff;
                    }
                }

                .options__img {
                    width: 50%;
                    max-width: 400px;
                    height: 100%;
                    max-height: 400px;
                    float: right;

                    picture {
                        img {}
                    }
                }
            }
        }
    }


    //Contacts Page


    section#contacts_hero {
        background-image: url('/contacts-bkg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;

        .box {
            .contacts__hero__section {
                width: 100%;
                display: block;

                .contacts__hero__header {
                    padding: 120px;

                    h1 {
                        font-size: 36px;
                        color: #fff;
                    }
                }
            }
        }
    }

    section#contact_info {
        background-color: #B8DFE2;

        .box {
            padding: 30px;

            .contacts__img__container {
                width: 100%;
                display: inline-block;
                position: relative;

                .contacts__email {
                    padding: 10px;
                    width: 50%;
                    float: left;

                    picture {
                        img {}
                    }
                }

                .contacts__phone {
                    padding: 10px;
                    width: 50%;
                    float: right;

                    picture {
                        img {}
                    }
                }
            }

        }

    }

    section#contact_form {
        background-color: #1E97AE;

        .box {
            padding: 30px;

            .contact__form__section {
                h1 {
                    padding: 10px;
                    color: #fff;
                    font-size: 36px;
                    padding-bottom: 30px;
                }

                p {
                    padding: 10px;
                    color: #fff;
                    padding-bottom: 30px;
                }
            }

            .contact__form {

                form {
                    input {
                        width: 80%;
                        padding: 20px;
                        outline: none;
                        margin: 10px 0px;
                        border-radius: 10px;
                        border: 1px solid #B8DFE2;
                    }

                    input::-webkit-input-placeholder {
                        letter-spacing: 2px;
                        color: #1E97AE;
                    }

                    textarea::-webkit-input-placeholder {
                        letter-spacing: 2px;
                        color: #1E97AE;
                    }

                    textarea {
                        width: 80%;
                        padding: 20px;
                        outline: none;
                        margin: 10px 0px;
                        resize: none;
                        outline: none;
                        border-radius: 10px;
                    }

                    button {
                        width: 80%;
                        padding: 20px;
                        outline: none;
                        margin: 10px 0px;
                        background-color: #B8DFE2;
                        color: #1E97AE;
                        border: 1px solid #1E97AE;
                        border-radius: 10px;
                        letter-spacing: 2px;


                    }
                }
            }

        }


    }


    //About Us

    section#about__hero {
        background-image: url('/about-bkg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;

        .box {
            .about__hero__section {
                width: 100%;
                display: block;

                .about__hero__header {
                    padding: 120px;

                    h1 {
                        font-size: 36px;
                        color: #fff;
                    }
                }

                .about__hero {}
            }
        }

    }

    section#about_features {
        background-color: #B8DFE2;

        .box {
            padding: 30px;

            .about__features__section {

                .about__text {
                    h1 {
                        color: #1E97AE;
                        font-size: 36px;
                        padding: 50px;
                    }

                    p {
                        color: #1E97AE;
                        font-size: 18px;
                        line-height: 40px;
                    }
                }
            }
        }
    }

    section#founder {
        background-color: #1E97AE;

        .box {
            padding: 30px;

            .founder__section {
                width: 100%;
                padding: 20px;

                .founder__img {
                    width: 100%;
                    padding: 20px;

                    picture {
                        img {}
                    }
                }

                .founder__name {
                    width: 100%;
                    padding: 10px;

                    h1 {
                        font-size: 36px;
                        color: #fff;
                    }
                }

                .founder__title {
                    width: 100%;
                    padding-bottom: 30px;

                    h2 {
                        font-size: 28;
                        color: #fff;
                    }
                }

                .founder__text {
                    width: 100%;
                    padding: 20px;

                    p {
                        font-size: 18px;
                        line-height: 40px;
                        color: #fff;
                    }
                }
            }
        }
    }


    //faq



    //quote

    section#quote_contact_form {
        background-color: #1E97AE;

        .box {
            padding: 30px;

            .contact__form__section {
                .contact__form__header {

                    h1 {
                        padding: 10px;
                        color: #fff;
                        font-size: 36px;
                        padding-bottom: 30px;
                    }

                    p {
                        padding: 10px;
                        color: #fff;
                        padding-bottom: 30px;
                    }
                }

                .contact__form {

                    form {
                        input {
                            width: 80%;
                            padding: 20px;
                            outline: none;
                            margin: 10px 0px;
                            border-radius: 10px;
                            border: 1px solid #B8DFE2;
                        }

                        input::-webkit-input-placeholder {
                            letter-spacing: 2px;
                            color: #1E97AE;
                        }

                        textarea::-webkit-input-placeholder {
                            letter-spacing: 2px;
                            color: #1E97AE;
                        }

                        textarea {
                            width: 80%;
                            padding: 20px;
                            outline: none;
                            margin: 10px 0px;
                            resize: none;
                            outline: none;
                            border-radius: 10px;
                        }

                        button {
                            width: 80%;
                            padding: 20px;
                            outline: none;
                            margin: 10px 0px;
                            background-color: #B8DFE2;
                            color: #1E97AE;
                            letter-spacing: 2px;
                            border: 1px solid #1E97AE;
                            border-radius: 10px;
                        }
                    }
                }
            }


        }


    }


    section#quotes__hero {
        width: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
        min-width: 100vh;
        background-color: rgb(30, 150, 174, 0.8);
        justify-content: center;
        align-items: center;

        .video-bg {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .box {
            .services__hero__section {
                width: 100%;
                display: block;

                .services__hero__header {
                    padding: 120px;

                    h1 {
                        color: #fff;
                        font-size: 36px;
                    }
                }
            }
        }
    }

}