* {
    padding: 0;
    margin: 0;
}


//Index.html
//-----------

section#gift_card_banner {
    background-color: #1E97AE;

    .box {
        .giftcard__banner {
            text-align: center;

            p {
                padding: 10px;
                color: #fff;
                font-size: 0.75em;
                word-spacing: 5px;
                letter-spacing: 2px;
            }
        }
    }
}

header {
    .box {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        nav#nav_bar {

            .nav__bar {
                display: flex;
                flex-direction: column;
                align-items: end;
                padding: 10px;
                padding-bottom: 30px;

                picture {
                    width: 100%;
                    display: block;
                    text-align: center;

                    img {
                        width: 100%;
                        max-width: 100px;
                    }
                }

                a {


                    img {
                        display: block;
                        max-width: 50px;
                    }
                }
            }

            .nav__menu {
                display: none;
                

                .nav__links {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: white;
                        padding: 25px;
                        background-color: #1E97AE;
                    }

                }
            }


        }
    }
}


section#hero {

    background-image: url("/assets/img/bkg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;


    .video-bg {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
        display: none;
    }

    .box {
        padding: 30px;

        .hero__section {

            .hero__subtext {
                width: 100%;
                padding: 20px;

                h3 {

                    color: #fff;
                    text-align: center;
                    font-size: 14px;
                    padding-bottom: 10px;

                }

                h2 {
                    color: #fff;
                    text-align: center;
                    font-size: 26px;
                    padding-bottom: 10px;

                }

                p {
                    color: #fff;
                    text-align: center;
                    font-size: 12px;
                    padding-bottom: 10px;
                }
            }
        }

        .hero__cta {
            width: 80%;
            margin: 0 auto;
            background-color: #B8DFE2;
            padding: 20px;
            position: relative;
            border-radius: 20px;
            box-shadow: 1px 1px 1px 1px;

            form {
                position: relative;

                input {
                    margin: 10px 0px;
                    padding: 10px;
                    width: 100%;
                    border-radius: 10px;
                    outline: none;
                    border: 1px solid #B8DFE2;
                    box-shadow: 1px 1px 1px 1px #1a97ae;

                }

                input::-webkit-input-placeholder {
                    letter-spacing: 2px;
                    color: #1E97AE;
                }

                button {
                    margin: 10px 0px;
                    width: 100%;
                    padding: 10px;
                    background-color: #1E97AE;
                    border: 1px solid #1E97AE;
                    color: #fff;
                    letter-spacing: 2px;
                    border-radius: 10px;
                    outline: none;


                }
            }
        }
    }
}

section#what_we_do {


    .box {
        padding: 30px;

        .what_we_do__section {

            .what_we_do__headline {
                padding: 20px;

                h1 {
                    color: #1E97AE;
                    font-size: 22px;
                }
            }

            .what_we_do__picture {
                padding: 20px;

                span {
                    border-bottom: 2px solid #1E97AE;
                    width: 60%;
                    display: block;
                    margin: 0 auto;
                }

                picture {
                    img {

                        padding: 10px;
                    }
                }
            }

            .what_we_do__subtext {
                padding: 20px;

                p {
                    color: #1E97AE;
                    line-height: 30px;
                    text-align: left;
                    margin: 0 auto;
                }
            }
        }
    }
}

section#services {
    background-color: #1E97AE;

    .box {
        padding: 30px;

        .service__section {
            .service__header {
                width: 100%;
                padding: 20px;
                padding-bottom: 50px;

                h1 {
                    font-size: 28px;
                    color: #fff;
                    padding: 10px;
                    padding-bottom: 15px;
                }


                span {
                    border-bottom: 2px solid #fff;
                    width: 60%;
                    display: block;
                    margin: 0 auto;
                }

                p {
                    color: #fff;
                    line-height: 30px;
                    text-align: center;

                }
            }

            .service__tiles {
                display: flex;
                flex-direction: row;
                justify-content: center;

                img {
                    width: 30%;
                    padding: 10px;
                }
            }

            .services-cta {
                padding: 30px;

                button {
                    margin: 10px 0px;
                    width: 100%;
                    max-width: 300px;
                    padding: 20px;
                    background-color: #fff;
                    border: 1px solid #fff;
                    color: #1E97AE;
                    letter-spacing: 2px;
                    border-radius: 10px;
                    outline: none;

                    a {
                        text-decoration: none;
                        color: #1E97AE;
                    }
                }
            }

        }
    }
}

section#why_us {
    .box {
        padding: 30px;

        .why_us_section {
            .why_us__headline {
                padding: 20px;

                h1 {
                    color: #1E97AE;
                    font-size: 22px;
                }
            }


            .col_section {
                width: 100%;
                display: flex;
                flex-direction: row;

                .col__ {
                    width: 100%;


                    .col_icon {
                        width: 100%;
                        padding: 10px;

                        img {
                            max-width: 100px;
                        }
                    }

                    .col_header {
                        width: 100%;
                        padding: 10px;

                        h3 {
                            color: #1E97AE;
                        }
                    }

                    .col_text {
                        width: 100%;
                        padding: 10px;

                        p {
                            color: #1E97AE;
                            text-align: left;
                        }
                    }
                }
            }


            .why_us_cta {
                padding: 30px;

                button {
                    margin: 10px 0px;
                    width: 100%;
                    max-width: 300px;
                    padding: 20px;
                    background-color: #1E97AE;
                    border: 1px solid #1E97AE;
                    color: #fff;
                    letter-spacing: 2px;
                    border-radius: 10px;
                    outline: none;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

section#testimonials {
    background-image: url('/assets/img/picture_page_break_2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .box {
        padding: 30px;
        padding-top: 60px;
        padding-bottom: 60px;

        .testimonial__section {
            width: 100%;

            .testimonial__header {

                padding: 20px;
                padding-bottom: 40px;

                h1 {
                    color: #fff;
                    font-size: 22px;
                }
            }

            .testimonial__reviews {
                width: 100%;
                display: inline-block;

                .col__ {
                    width: 100%;
                    margin: 14px 0px;
                    border: 1px solid #fff;
                    background-color: #fff;
                    max-width: 300px;
                    margin: 0 auto;
                    margin-bottom: 50px;

                    .col_icon {
                        width: 100%;
                        padding: 10px;

                        h2 {
                            font-size: 14px;
                            font-style: italic;
                            color: #1E97AE;
                            ;
                        }

                    }

                    .col_header {
                        width: 100%;
                        padding: 10px;

                        h3 {
                            color: #1E97AE;
                            ;
                        }

                    }

                    .col_text {
                        width: 100%;
                        padding: 10px;

                        p {
                            color: #1E97AE;
                            ;
                        }

                    }

                }
            }
        }

    }
}

section#home_contact_form {
    background-color: #fff;

    .box {
        padding: 30px;
        padding-top: 60px;
        padding-bottom: 60px;

        .contact__form__section {
            .contact__form__header {

                h1 {
                    padding: 10px;
                    color: #1E97AE;
                    font-size: 36px;
                    padding-bottom: 30px;
                }

                p {
                    padding: 10px;
                    color: #1E97AE;
                    padding-bottom: 30px;
                }
            }

            .contact__form {

                form {
                    input {
                        width: 80%;
                        padding: 20px;
                        outline: none;
                        margin: 10px 0px;
                        border-radius: 10px;
                        border: 2px solid #1E97AE;
                    }

                    input::-webkit-input-placeholder {
                        letter-spacing: 2px;
                        color: #1E97AE;
                    }

                    textarea::-webkit-input-placeholder {
                        letter-spacing: 2px;
                        color: #1E97AE;
                    }

                    textarea {
                        width: 80%;
                        padding: 20px;
                        outline: none;
                        margin: 10px 0px;
                        resize: none;
                        outline: none;
                        border-radius: 10px;
                        border: 2px solid #1E97AE;
                    }

                    button {
                        width: 80%;
                        padding: 20px;
                        outline: none;
                        margin: 10px 0px;
                        background-color: #1E97AE;
                        color: #fff;
                        letter-spacing: 2px;
                        border: 2px solid #1E97AE;
                        border-radius: 10px;
                    }
                }
            }
        }


    }


}

footer {
    background-color: #1E97AE;

    .box {
        position: relative;
        padding: 30px;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;

        .footer__section {
            width: 100%;
            display: block;
            flex-direction: row;
            position: relative;
            padding: 20px;

            .footer__menu {

                width: 100%;


                ul {
                    list-style-type: none;


                    li {
                        padding: 10px;
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }

            .footer__email__capture {
                width: 100%;
                padding: 10px;
                position: relative;


                p {
                    color: #fff;
                    padding: 10px;
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid #B8DFE2;
                    outline: none;
                    text-indent: 30px;
                }

                button {
                    position: absolute;
                    background-color: #B8DFE2;
                    padding: 10px;
                    bottom: 10px;
                    right: 0;
                    border-radius: 10px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    color: #1E97AE;
                    border: 1px solid #B8DFE2;
                }

                input::-webkit-input-placeholder {
                    letter-spacing: 2px;
                    color: #1E97AE;
                }

            }

            .footer__logo {
                width: 100%;
                padding: 10px;

                picture {
                    img {
                        width: 30%;
                    }
                }
            }
        }

        .footer__socials {
            width: 100%;
            padding: 10px;

            ul {
                width: 100%;

                li {

                    display: inline;

                }
            }
        }

        .footer__terms {
            padding: 5px;

            p {
                color: #fff;
            }
        }

        .footer__copyright {
            padding: 5px;

            p {
                color: #fff;
            }
        }
    }
}


//Services.html
//-----------

section#services__hero {
    background-image: url('/assets/img/services-bkg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .box {
        .services__hero__section {
            width: 100%;
            display: block;

            .services__hero__header {
                padding: 120px;

                h1 {
                    font-size: 28px;
                    color: #fff;
                }
            }
        }
    }
}

section#service__options_1 {


    .box {
        padding: 60px;
        padding-top: 100px;
        max-width: 860px;

        .service__options {
            display: flex;
            flex-direction: column-reverse;


            .options__info {
                width: 100%;
                max-width: 400px;
                height: 100%;
                max-height: 400px;
                float: left;
                text-align: center;
                margin: 0 auto;

                h3 {
                    padding: 10px;
                    color: #1E97AE;
                    font-size: 22px;
                }

                span {
                    border-bottom: 2px solid #1E97AE;
                    display: block;
                    padding-bottom: 10px;
                    width: 94%;
                    margin: 0 auto;
                }

                p {
                    padding: 10px;
                    line-height: 30px;
                    text-align: center;
                    color: #1E97AE;
                }
            }

            .options__img {
                width: 100%;
                max-width: 400px;
                height: 100%;
                max-height: 400px;
                float: right;
                padding: 20px;
                margin: 0 auto;

                picture {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

section#service__options_2 {
    background-color: #1E97AE;

    .box {
        padding: 60px;
        max-width: 860px;

        .service__options {
            display: flex;
            flex-direction: column;

            .options__info {
                width: 100%;
                max-width: 400px;
                height: 100%;
                max-height: 400px;
                float: right;
                text-align: center;
                margin: 0 auto;

                h3 {
                    padding: 10px;
                    color: #fff;
                    font-size: 22px;
                }

                span {
                    border-bottom: 2px solid#fff;
                    display: block;
                    padding-bottom: 10px;
                    width: 94%;
                    margin: 0 auto;
                }

                p {
                    padding: 10px;
                    line-height: 30px;
                    text-align: center;
                    color: #fff;
                }
            }

            .options__img {
                width: 100%;
                max-width: 400px;
                height: 100%;
                max-height: 400px;
                float: right;
                padding: 20px;
                margin: 0 auto;

                picture {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}


//Contact.html
//-----------


section#contacts_hero {
    background-image: url('/assets/img/contacts-bkg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .box {
        .contacts__hero__section {
            width: 100%;
            display: block;

            .contacts__hero__header {
                padding: 120px;

                h1 {
                    font-size: 28px;
                    color: #fff;
                }
            }
        }
    }
}

section#contact_info {
    background-color: #B8DFE2;

    .box {
        padding: 30px;

        .contacts__img__container {
            width: 100%;
            display: inline-block;
            position: relative;

            .contacts__email {
                padding: 10px;
                width: 50%;
                float: left;

                picture {
                    img {
                        width: 120%;
                        max-width: 300px;
                    }
                }
            }

            .contacts__phone {
                padding: 10px;
                width: 50%;
                float: right;

                picture {
                    img {
                        width: 120%;
                        max-width: 300px;
                    }
                }
            }
        }

    }

}

section#home_contact_form {
    background-color: #fff;

    .box {
        padding: 30px;
        padding-top: 60px;
        padding-bottom: 60px;

        .contact__form__section {
            .contact__form__header {

                h1 {
                    padding: 10px;
                    color: #1E97AE;
                    font-size: 28px;
                    padding-bottom: 30px;
                }

                p {
                    padding: 10px;
                    color: #1E97AE;
                    padding-bottom: 30px;
                }
            }

            .contact__form {

                form {
                    input {
                        width: 80%;
                        padding: 20px;
                        outline: none;
                        margin: 10px 0px;
                        border-radius: 10px;
                        border: 2px solid #1E97AE;
                    }

                    input::-webkit-input-placeholder {
                        letter-spacing: 2px;
                        color: #1E97AE;
                    }

                    textarea::-webkit-input-placeholder {
                        letter-spacing: 2px;
                        color: #1E97AE;
                    }

                    textarea {
                        width: 80%;
                        padding: 20px;
                        outline: none;
                        margin: 10px 0px;
                        resize: none;
                        outline: none;
                        border-radius: 10px;
                        border: 2px solid #1E97AE;
                    }

                    button {
                        width: 80%;
                        padding: 20px;
                        outline: none;
                        margin: 10px 0px;
                        background-color: #1E97AE;
                        color: #fff;
                        letter-spacing: 2px;
                        border: 2px solid #1E97AE;
                        border-radius: 10px;
                    }
                }
            }
        }


    }


}


//About.html
//-----------

section#about__hero {
    background-image: url('/assets/img/about-bkg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .box {

        .about__hero__section {
            width: 100%;
            display: block;

            .about__hero__header {
                padding: 120px;

                h1 {
                    font-size: 22px;
                    color: #fff;
                }
            }

            .about__hero {}
        }
    }

}

section#about_features {
    background-color: #fff;

    .box {
        padding: 30px;
        max-width: 500px;

        .about__features__section {

            .about__text {
                padding-bottom: 30px;

                h1 {
                    color: #1E97AE;
                    font-size: 22px;
                    padding: 50px;
                }

                p {
                    color: #1E97AE;
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
}

section#founder {
    background-color: #1E97AE;

    .box {
        padding: 30px;
        max-width: 700px;

        .founder__section {
            width: 100%;
            padding: 20px;

            .founder__img {
                width: 100%;
                padding: 20px;

                picture {
                    img {
                        width: 100%;
                    }
                }
            }

            .founder__name {
                width: 100%;
                padding: 10px;

                h1 {
                    font-size: 22px;
                    color: #fff;
                }
            }

            .founder__title {
                width: 100%;
                padding-bottom: 30px;

                h2 {
                    font-size: 18px;
                    color: #fff;
                }
            }

            .founder__text {
                width: 100%;
                padding: 20px;

                p {
                    font-size: 16px;
                    line-height: 30px;
                    color: #fff;
                }
            }
        }
    }
}




//Mobile Screen
//-----------

@media (min-width: 768px) {
    section#gift_card_banner {


        .box {
            .giftcard__banner {


                p {
                    font-size: 1em;
                }
            }
        }
    }

    header {
        .box {
            nav#nav_bar {
                display: flex;
                align-items: center;
                justify-content: space-around;

                .nav__bar {

                    flex-direction: row;
                    padding: 20px;

                    picture {

                        img {}
                    }

                    a {
                        display: none !important;

                    }
                }

                .nav__menu {
                    display: block !important;

                    .nav__links {
                        flex-direction: row;
                        gap: 20px;

                        a {
                            background-color: initial;
                            color: #1E97AE;
                        }

                    }
                }
            }
        }
    }

    section#hero {
        width: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
        background-color: rgb(30, 150, 174, 0.8);
        justify-content: center;
        align-items: center;

        background-image: initial;
        background-repeat: initial;
        background-size: initial;


        .video-bg {
            display: initial
        }

        .box {
            padding-top: 60px;
            padding-bottom: 60px;

            .hero__section {

                .hero__subtext {

                    width: 60%;
                    float: left;


                    h3 {


                        text-align: left;
                        font-size: 20px;
                        padding-bottom: 20px;
                    }

                    h2 {

                        text-align: left;
                        font-size: 36px;
                        padding-bottom: 20px;
                    }

                    p {

                        text-align: left;
                        font-size: 18px;
                        padding-bottom: initial;
                    }
                }
            }

            .hero__cta {

                width: 37%;
                float: right;
                max-width: 300px;
                background-color: #B8DFE2;
                padding: 20px;
                position: relative;


                form {
                    position: relative;

                    input {
                        margin: 10px 0px;
                        padding: 10px;
                        width: 100%;
                        border-radius: 10px;
                        outline: none;
                        border: 1px solid #B8DFE2;
                        

                    }

                    input::-webkit-input-placeholder {
                        letter-spacing: 2px;
                        color: #1E97AE;
                    }

                    button {
                        margin: 10px 0px;
                        width: 100%;
                        padding: 10px;
                        background-color: #1E97AE;
                        border: 1px solid #1E97AE;
                        color: #fff;
                        letter-spacing: 2px;
                        border-radius: 10px;
                        outline: none;


                    }
                }
            }
        }
    }

    section#what_we_do {


        .box {
            padding: 30px;
            padding-top: 60px;
            padding-bottom: 60px;

            .what_we_do__section {

                .what_we_do__headline {
                    padding: 20px;

                    h1 {
                        color: #1E97AE;
                        font-size: 28px;
                    }
                }

                .what_we_do__picture {
                    padding: 20px;

                    span {

                        width: 100%;
                    }

                    picture {
                        img {

                            padding: 10px;
                        }
                    }
                }

                .what_we_do__subtext {
                    padding: 20px;

                    p {
                        line-height: 45px;
                    }
                }
            }
        }
    }

    section#services {
        background-color: #1E97AE;

        .box {
            padding: 30px;
            padding-top: 60px;
            padding-bottom: 60px;

            .service__section {
                .service__header {
                    width: 100%;
                    padding: 20px;
                    padding-bottom: 50px;

                    h1 {
                        font-size: 28px;
                        color: #fff;
                        padding: 10px;
                        padding-bottom: 15px;
                    }

                    p {
                        color: #fff;
                        line-height: 45px;

                    }
                }

                .service__tiles {
                    width: 100%;

                    img {
                        width: 30%;
                        padding: 10px;
                    }
                }

                .services-cta {
                    padding: 30px;

                    button {
     
                    }
                }

            }
        }
    }

    section#why_us {
        .box {
            max-width: 800px;
            padding-top: 60px;
            padding-bottom: 60px;

            .why_us_section {
                .why_us__headline {


                    h1 {
                        font-size: 28px;
                    }
                }


                .col_section {


                    .col__ {



                        .col_icon {


                            img {
                                max-width: initial;
                            }
                        }

                        .col_header {


                            h3 {}
                        }

                        .col_text {


                            p {
                                text-align: center;
                            }
                        }
                    }
                }


                .why_us_cta {

                    padding-top: 60px;

                    button {


                        a {}
                    }
                }
            }
        }
    }

    section#testimonials {
        background-image: url('/assets/img/picture_page_break_2.jpeg');
        background-repeat: no-repeat;
        background-size: cover;

        .box {


            .testimonial__section {



                .testimonial__header {



                    h1 {
                        font-size: 28px;
                    }
                }

                .testimonial__reviews {
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    .col__ {
                        width: 100%;
                        width: 30%;
                        margin: 14px;
                        float: left;
                        border: 1px solid #fff;
                        background-color: #fff;
                        margin-bottom: initial;


                        .col_icon {
                            width: 100%;
                            padding: 10px;
                            height: 100px;

                            h2 {
                                font-size: 16px;
                                font-style: italic;
                                color: #1E97AE;
                                ;
                            }

                        }

                        .col_header {
                            width: 100%;
                            padding: 10px;
                            height: 60px;

                            h3 {
                                color: #1E97AE;
                                ;
                            }

                        }

                        .col_text {
                            width: 100%;
                            padding: 10px;
                            height: 50px;

                            p {
                                color: #1E97AE;
                                ;
                            }

                        }

                    }
                }
            }

        }
    }


    //Services.html
    //-----------

    section#service__options_1 {


        .box {
            padding: 60px;
            padding-top: 100px;
            max-width: 860px;

            .service__options {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;


                .options__info {
                    width: 50%;
                    max-width: 400px;
                    height: 100%;
                    max-height: 400px;
                    float: left;
                    text-align: left;

                    h3 {}

                    span {}

                    p {

                        line-height: 30px;
                        text-align: left;

                    }
                }

                .options__img {
                    width: 50%;
                    max-width: 400px;
                    height: 100%;
                    max-height: 400px;
                    float: right;

                    picture {
                        img {}
                    }
                }
            }
        }
    }

    section#service__options_2 {
        background-color: #1E97AE;

        .box {
            padding: 60px;
            max-width: 860px;

            .service__options {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;

                .options__info {
                    width: 50%;
                    max-width: 400px;
                    height: 100%;
                    max-height: 400px;
                    float: right;
                    text-align: right;

                    h3 {}

                    span {}

                    p {

                        line-height: 30px;
                        text-align: right;

                    }

                    .options__img {
                        width: 50%;
                        max-width: 400px;
                        height: 100%;
                        max-height: 400px;
                        float: right;

                        picture {}
                    }
                }
            }
        }
    }




    //About.html
    //-----------


    section#about__hero {

        .box {
            .about__hero__section {

                .about__hero__header {

                    h1 {
                        font-size: 28px;
                    }
                }

                .about__hero {}
            }
        }

    }

    section#about_features {
        .box {
            .about__features__section {

                .about__text {

                    h1 {

                        font-size: 28px;

                    }

                    p {}
                }
            }
        }
    }


}